{% extends "base.html" %}


{% block title %}{% endblock %}


{% block content %}
    <h1>People</h1>
    <div id="people-list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}"><img src="{{ user.profile.photo }}" width="100" height="100"/></a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">{{ user.get_full_name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
