{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content  %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>Your username and password don't match.</p>
    {% else %}
        <p>Please use the following form to login: also you can <a href="{% url "register" %}">sin up</a></p>
        <div class="login-form">
            <form action="{% url "login" %}" method="post" accept-charset="utf-8">
                {{ form.as_p }}
                <input type="submit"  value="Login" />
                <input type="hidden" name="next"  value="{{ next }}" />
                {% csrf_token %}
            </form>
            <p><a href="{% url "password_reset" %}">Forget your password</a>?</p>
        </div>
    {% endif %}
{% endblock %}
