{% extends "blog/base.html" %}

{% block title %}Share this post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
        "{{ post.taitle }}" was successfully sent to {{ cd.to }}.
        </p>
    {% else %}
    <h1>Share "{{ post.title }}" by e-mail</h1>
    <form action="." method="post" accept-charset="utf-8">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit"  value="Send e-mail" />
    </form>
    {% endif %}
{% endblock %}
